header {
  padding: @base-padding;
  text-align: center;
  margin: 150px @base-margin @base-margin @base-margin;
}
img {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -130px;
  top: 0;
}
hr {
  width: 88%;
  margin: 0 auto;
  border: 2px solid @gray-border-color;
}
