ul li {
  width: 90%;
  padding: @base-padding;
  .experience {
    display: inline-block;
    background-color: @background;
    width: 80%;
  }
  .year {
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    width: 10%;
    vertical-align: top;
    padding: 0;
    margin: 0;
  }
  .boldTitle {
    padding-bottom: 0;
    margin: 0;
  }
}
